@import "tailwindcss";

:root {
  --font-primary: var(--font-poppins);
  --font-secondary: var(--font-roboto);
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-primary), sans-serif;
  font-weight: 700; /* Bold for headings */
}

h2, h3 {
  font-weight: 600; /* SemiBold for subheadings */
}

body {
  font-family: var(--font-secondary), sans-serif;
  font-weight: 300; /* Light for body text */
}
p {
  font-size: 1rem; /* Base font size */
  line-height: 1.5; /* Line height for readability */
}